.TodoItem {
  margin-left: auto;
  margin-right: auto;

  border: 1px solid #d5d6d6;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.TodoItem:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 5px 5px -2px #d5d6d6;
}

/* .TodoItem + .TodoItem { // 리스트 아이템 간 간격 띄울 때 사용하기 좋을 듯
  margin-top: 15px;
} */

.content {
  cursor: pointer;
  flex: 1;
  display: flex;
  align-items: center;
}

.content svg {
  font-size: 1.2rem;
  color: #b4b7f9;
}

.content .text {
  margin-left: 0.5rem;
  flex: 1;
  font-size: 15px;
}

.content.checked .text {
  color: #6c567b;
  text-decoration: line-through;
  cursor: pointer;
  opacity: 0.6;
}

